################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
